.headerContainer {
  background-color: #495e57;
  padding: 40px 20px 40px 190px;
}

.bannerImg {
  position: absolute;
  right: 13%;
  top: 12%;
  width: 400px;
}

.bannerImg img {
  width: 340px;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
}

.reserveButton {
  margin-top: 50px;
}
