.footerSection {
  padding: 20px 70px 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.infoImg img {
  margin-top: 50px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  object-fit: contain;
}

.footerTitle {
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.infoContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  font-family: "Roboto";
  color: black;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 10px;
  padding: 0px;
}
