body {
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav {
  z-index: 10001;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #000;
}

nav ul li a:hover{
  text-decoration: underline solid #495E57;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.header {
  background-color: #495e57;
  padding: 40px 0;
}

.header section {
color: #EDEFEE;
padding: 10px 13%;
position: relative;
}

h2 {
  color: #F4CE14;
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.banner-img{
  position: absolute;
  right: 13%;
  top: 15%;
  width: 400px;
}

.banner-img img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

/*BookingForm*/

form, .comfirm{
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.formField{
  padding: 50px 20px;
  margin-bottom: 15px;
}

input, label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
#book-date, #book-time, #book-guests, #book-occasion{
  background: #bdbdbd43;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 2px;
}

#book-comment {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdbdbd43;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.btnReceive input{
  display: inline-block;
  background-color: #F4CE14;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.btnReceive input:hover {
  background-color:#495E57;
  color:#EDEFEE;
  outline: auto;
}

form h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/*confirmation*/
.confirm-heading h1{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.confirm-heading h3{
  font-style: italic;
  color:#000;
  text-align: center;
}



/*menu*/

.menu-container{
  margin: 110px auto;
  padding: 10px 13%;
}

.menu-container h2{
  color: #000;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items{
  /* height: 400px; */
  width: 350px;
  background: #a9c8be;
  border-radius: 8px;
}

.menuimg {
  width: 100%;
  height: 233px;
  border-radius: 8px;
}

.menu-content{
  padding: 5px 15px;
}


.menu-content .heading{
  display: flex;
  justify-content: space-between;
}

.orderbtn{
  padding: 5px 12px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

/*reviews*/

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;  /* Space between cards */
  padding: 40px;
}

.testimonial-card {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-basis: 22%; /* Ensures 4 cards in one row */
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #f4f4f4;
}





/*footer*/

footer section{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}


.info img{
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}

.info p{
  width: 320px;
}

footer h3{
  font-size: 18px;
}

footer ul{
  padding: 0;
}

footer ul li{
  padding: 8px 0;
}